.text{
    color: #439A97;
    font-size: larger;
    font-size: 2rem;
margin-left: 3rem;
cursor: pointer;
}
.bg-body{
    background-image: url("../images/shattered-dark.png");
}

.text:hover{
    color: #68B984;
    cursor: pointer;
}
body{
    background-image: url("../images/shattered-dark.png");
}